<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>462</TotalTime><Pages>47</Pages><Words>5245</Words><Characters>29901</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>249</Lines><Paragraphs>70</Paragraphs><ScaleCrop>false</ScaleCrop><Company>微软中国</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>35076</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>